db-config.json
.claude/
.gradle/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/project.xml
/.idea/modules/api/app-lili.api.main.iml
/.idea/modules/core/app-lili.core.main.iml
/.idea/.gitignore
/.idea/.name
/.idea/calero-app-desktop.iml
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/build/wix311/doc/bal.xsd
/build/wix311/doc/complus.xsd
/build/wix311/doc/Dependency.xsd
/build/wix311/doc/difxapp.xsd
/build/wix311/doc/DTF.chm
/build/wix311/doc/DTFAPI.chm
/build/wix311/doc/firewall.xsd
/build/wix311/doc/gaming.xsd
/build/wix311/doc/http.xsd
/build/wix311/doc/iis.xsd
/build/wix311/doc/lux.xsd
/build/wix311/doc/msmq.xsd
/build/wix311/doc/netfx.xsd
/build/wix311/doc/ps.xsd
/build/wix311/doc/sql.xsd
/build/wix311/doc/tag.xsd
/build/wix311/doc/thmutil.xsd
/build/wix311/doc/util.xsd
/build/wix311/doc/vs.xsd
/build/wix311/doc/WiX.chm
/build/wix311/doc/wix.xsd
/build/wix311/doc/wixloc.xsd
/build/wix311/sdk/inc/aclutil.h
/build/wix311/sdk/inc/apputil.h
/build/wix311/sdk/inc/apuputil.h
/build/wix311/sdk/inc/atomutil.h
/build/wix311/sdk/inc/BalBaseBootstrapperApplication.h
/build/wix311/sdk/inc/balcondition.h
/build/wix311/sdk/inc/balinfo.h
/build/wix311/sdk/inc/balretry.h
/build/wix311/sdk/inc/balutil.h
/build/wix311/sdk/inc/buffutil.h
/build/wix311/sdk/inc/butil.h
/build/wix311/sdk/inc/cabcutil.h
/build/wix311/sdk/inc/cabutil.h
/build/wix311/sdk/inc/certutil.h
/build/wix311/sdk/inc/conutil.h
/build/wix311/sdk/inc/cryputil.h
/build/wix311/sdk/inc/custommsierrors.h
/build/wix311/sdk/inc/deputil.h
/build/wix311/sdk/inc/dictutil.h
/build/wix311/sdk/inc/dirutil.h
/build/wix311/sdk/inc/dlutil.h
/build/wix311/sdk/inc/dutil.h
/build/wix311/sdk/inc/eseutil.h
/build/wix311/sdk/inc/fileutil.h
/build/wix311/sdk/inc/gdiputil.h
/build/wix311/sdk/inc/IBootstrapperApplication.h
/build/wix311/sdk/inc/IBootstrapperBAFunction.h
/build/wix311/sdk/inc/IBootstrapperEngine.h
/build/wix311/sdk/inc/iis7util.h
/build/wix311/sdk/inc/inetutil.h
/build/wix311/sdk/inc/iniutil.h
/build/wix311/sdk/inc/jsonutil.h
/build/wix311/sdk/inc/locutil.h
/build/wix311/sdk/inc/logutil.h
/build/wix311/sdk/inc/memutil.h
/build/wix311/sdk/inc/metautil.h
/build/wix311/sdk/inc/osutil.h
/build/wix311/sdk/inc/pathutil.h
/build/wix311/sdk/inc/perfutil.h
/build/wix311/sdk/inc/polcutil.h
/build/wix311/sdk/inc/procutil.h
/build/wix311/sdk/inc/regutil.h
/build/wix311/sdk/inc/resrutil.h
/build/wix311/sdk/inc/reswutil.h
/build/wix311/sdk/inc/rexutil.h
/build/wix311/sdk/inc/rmutil.h
/build/wix311/sdk/inc/rssutil.h
/build/wix311/sdk/inc/sceutil.h
/build/wix311/sdk/inc/shelutil.h
/build/wix311/sdk/inc/sqlutil.h
/build/wix311/sdk/inc/srputil.h
/build/wix311/sdk/inc/strutil.h
/build/wix311/sdk/inc/svcutil.h
/build/wix311/sdk/inc/thmutil.h
/build/wix311/sdk/inc/timeutil.h
/build/wix311/sdk/inc/uriutil.h
/build/wix311/sdk/inc/userutil.h
/build/wix311/sdk/inc/wcalog.h
/build/wix311/sdk/inc/wcautil.h
/build/wix311/sdk/inc/wcawow64.h
/build/wix311/sdk/inc/wcawrapquery.h
/build/wix311/sdk/inc/wiutil.h
/build/wix311/sdk/inc/wuautil.h
/build/wix311/sdk/inc/xmlutil.h
/build/wix311/sdk/vs2010/lib/x64/deputil.lib
/build/wix311/sdk/vs2010/lib/x64/dutil.lib
/build/wix311/sdk/vs2010/lib/x64/wcautil.lib
/build/wix311/sdk/vs2010/lib/x86/balutil.lib
/build/wix311/sdk/vs2010/lib/x86/deputil.lib
/build/wix311/sdk/vs2010/lib/x86/dutil.lib
/build/wix311/sdk/vs2010/lib/x86/wcautil.lib
/build/wix311/sdk/vs2012/lib/x64/deputil.lib
/build/wix311/sdk/vs2012/lib/x64/dutil.lib
/build/wix311/sdk/vs2012/lib/x64/wcautil.lib
/build/wix311/sdk/vs2012/lib/x86/balutil.lib
/build/wix311/sdk/vs2012/lib/x86/deputil.lib
/build/wix311/sdk/vs2012/lib/x86/dutil.lib
/build/wix311/sdk/vs2012/lib/x86/wcautil.lib
/build/wix311/sdk/vs2013/lib/x64/deputil.lib
/build/wix311/sdk/vs2013/lib/x64/dutil.lib
/build/wix311/sdk/vs2013/lib/x64/wcautil.lib
/build/wix311/sdk/vs2013/lib/x86/balutil.lib
/build/wix311/sdk/vs2013/lib/x86/deputil.lib
/build/wix311/sdk/vs2013/lib/x86/dutil.lib
/build/wix311/sdk/vs2013/lib/x86/wcautil.lib
/build/wix311/sdk/vs2015/lib/x64/deputil.lib
/build/wix311/sdk/vs2015/lib/x64/dutil.lib
/build/wix311/sdk/vs2015/lib/x64/wcautil.lib
/build/wix311/sdk/vs2015/lib/x86/balutil.lib
/build/wix311/sdk/vs2015/lib/x86/deputil.lib
/build/wix311/sdk/vs2015/lib/x86/dutil.lib
/build/wix311/sdk/vs2015/lib/x86/wcautil.lib
/build/wix311/sdk/vs2017/lib/x64/deputil.lib
/build/wix311/sdk/vs2017/lib/x64/dutil.lib
/build/wix311/sdk/vs2017/lib/x64/wcautil.lib
/build/wix311/sdk/vs2017/lib/x86/balutil.lib
/build/wix311/sdk/vs2017/lib/x86/deputil.lib
/build/wix311/sdk/vs2017/lib/x86/dutil.lib
/build/wix311/sdk/vs2017/lib/x86/wcautil.lib
/build/wix311/sdk/x64/sfxca.dll
/build/wix311/sdk/x86/sfxca.dll
/build/wix311/sdk/BootstrapperCore.config
/build/wix311/sdk/BootstrapperCore.dll
/build/wix311/sdk/BootstrapperCore.xml
/build/wix311/sdk/DocCompiler.exe
/build/wix311/sdk/MakeSfxCA.exe
/build/wix311/sdk/MakeSfxCA.exe.config
/build/wix311/sdk/Microsoft.Deployment.Compression.Cab.dll
/build/wix311/sdk/Microsoft.Deployment.Compression.Cab.xml
/build/wix311/sdk/Microsoft.Deployment.Compression.dll
/build/wix311/sdk/Microsoft.Deployment.Compression.xml
/build/wix311/sdk/Microsoft.Deployment.Compression.Zip.dll
/build/wix311/sdk/Microsoft.Deployment.Compression.Zip.xml
/build/wix311/sdk/Microsoft.Deployment.Resources.dll
/build/wix311/sdk/Microsoft.Deployment.Resources.xml
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.dll
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Linq.dll
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Linq.xml
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Package.dll
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.Package.xml
/build/wix311/sdk/Microsoft.Deployment.WindowsInstaller.xml
/build/wix311/sdk/MsgGen.exe
/build/wix311/sdk/wix.ca.targets
/build/wix311/sdk/wix.nativeca.targets
/build/wix311/sdk/XsdGen.exe
/build/wix311/sdk/XsdStitch.exe
/build/wix311/x86/burn.exe
/build/wix311/candle.exe
/build/wix311/candle.exe.config
/build/wix311/darice.cub
/build/wix311/dark.exe
/build/wix311/dark.exe.config
/build/wix311/difxapp_x64.wixlib
/build/wix311/difxapp_x86.wixlib
/build/wix311/heat.exe
/build/wix311/heat.exe.config
/build/wix311/insignia.exe
/build/wix311/insignia.exe.config
/build/wix311/LICENSE.TXT
/build/wix311/light.exe
/build/wix311/light.exe.config
/build/wix311/lit.exe
/build/wix311/lit.exe.config
/build/wix311/lux.exe
/build/wix311/lux.exe.config
/build/wix311/lux.targets
/build/wix311/LuxTasks.dll
/build/wix311/melt.exe
/build/wix311/melt.exe.config
/build/wix311/mergemod.cub
/build/wix311/mergemod.dll
/build/wix311/Microsoft.Deployment.Compression.Cab.dll
/build/wix311/Microsoft.Deployment.Compression.dll
/build/wix311/Microsoft.Deployment.Resources.dll
/build/wix311/Microsoft.Deployment.WindowsInstaller.dll
/build/wix311/Microsoft.Deployment.WindowsInstaller.Package.dll
/build/wix311/mspatchc.dll
/build/wix311/nit.exe
/build/wix311/nit.exe.config
/build/wix311/pyro.exe
/build/wix311/pyro.exe.config
/build/wix311/retina.exe
/build/wix311/retina.exe.config
/build/wix311/shine.exe
/build/wix311/shine.exe.config
/build/wix311/smoke.exe
/build/wix311/smoke.exe.config
/build/wix311/ThmViewer.exe
/build/wix311/torch.exe
/build/wix311/torch.exe.config
/build/wix311/wconsole.dll
/build/wix311/winterop.dll
/build/wix311/wix.dll
/build/wix311/wix.targets
/build/wix311/wix200x.targets
/build/wix311/wix2010.targets
/build/wix311/WixBalExtension.dll
/build/wix311/WixComPlusExtension.dll
/build/wix311/WixCop.exe
/build/wix311/WixDependencyExtension.dll
/build/wix311/WixDifxAppExtension.dll
/build/wix311/WixDirectXExtension.dll
/build/wix311/WixFirewallExtension.dll
/build/wix311/WixGamingExtension.dll
/build/wix311/WixHttpExtension.dll
/build/wix311/WixIIsExtension.dll
/build/wix311/WixLuxExtension.dll
/build/wix311/WixMsmqExtension.dll
/build/wix311/WixNetFxExtension.dll
/build/wix311/WixPSExtension.dll
/build/wix311/WixSqlExtension.dll
/build/wix311/WixTagExtension.dll
/build/wix311/WixTasks.dll
/build/wix311/WixUIExtension.dll
/build/wix311/WixUtilExtension.dll
/build/wix311/WixVSExtension.dll
/build/wix311/WixVSExtension.MSBuild12.dll
/build/wix311/WixVSExtension.MSBuild14.dll
/.gitignore
/xml.xml
/api/build/classes/java/main/com/calero/lili/api/advice/GlobalExceptionHandler.class
/api/build/classes/java/main/com/calero/lili/api/auth/dto/UsuarioSecurity.class
/api/build/classes/java/main/com/calero/lili/api/auth/filters/JwtAuthenticationFilter.class
/api/build/classes/java/main/com/calero/lili/api/auth/filters/JwtValidationFilter.class
/api/build/classes/java/main/com/calero/lili/api/auth/services/JpaUserDetailsService.class
/api/build/classes/java/main/com/calero/lili/api/auth/SecurityUtils.class
/api/build/classes/java/main/com/calero/lili/api/auth/SimpleGrantedAuthorityJsonCreator.class
/api/build/classes/java/main/com/calero/lili/api/auth/SpringSecurityConfig.class
/api/build/classes/java/main/com/calero/lili/api/auth/TokenJwtConfig.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdDatasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdDatasUsuariosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdEmpresasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdEmpresasPeriodosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdEmpresasSeriesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdEmpresasSeriesDocumentosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdEmpresasSucursalesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdGruposController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdIvaPorcentajesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdMailListaNegraController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdPermisoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdRolController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdStDatosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdStEnviarCorreoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/AdUsuariosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/BcBancosConciliacionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/BcBancosMovimientosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/BcCajasTpvController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/BcEntidadesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CantonController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CargarP12Controller.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CnAsientosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CnCentroCostosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CnEnlaceController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CnPlanCuentasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CnReportesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ComprasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ComprasRetencionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ContabilidadExcelCargarController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ContactoSoporteController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CotizacionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CpImpuestosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CpProveedoresGruposController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/CpProveedoresParametrosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ExcelCargarController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/FileProcessingController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeImpuestoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsBodegasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsCategoriaController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsGruposController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsMarcasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeItemsMedidasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GeTercerosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlComprasRetencionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlCpImpuestosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlLiquidacionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlVentasRetencionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlVtGuiaController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlVtVentasFacturasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlVtVentasNotasCreditoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/GetXmlVtVentasNotasDebitoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestoProcesosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestosEmitidosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestosEmitidosWsController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestosRecibidosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ImpuestosRecibidosWsController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/LiquidacionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/LiquidacionReembolsosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/OrdenComprasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/PedidosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ProcesarDocumentosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ProvinciaController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/ReenviarEmailController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/RhRolController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/RubroController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/StFechaActualizacionController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/StRecibidasCorreoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbDocumentosCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbFormasPagoSriCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbPaisesCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbParaisosFiscalesCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbRetencionesCodigosCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbRetencionesCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TbSustentosCrudController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TsComprobanteEgresoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/TsComprobanteIngresoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VentasRetencionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtClientesConfiguracionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtClientesGruposController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtClientesParametrosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtClientesTicketsController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtGuiaController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtVendedoresController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtVentasFacturasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtVentasNotasCreditoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtVentasNotasDebitoController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtVentasReembolsosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/VtZonasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/XcFacturasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/XcPagosController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/XcRetencionesController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/XpFacturasController.class
/api/build/classes/java/main/com/calero/lili/api/controllers/XpPagosController.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/builder/AdGruposBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposRequestDto$AdGruposRequestDtoBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposRequestDto$Permisos$PermisosBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposRequestDto$Permisos.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposRequestDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposResponseDto$AdGruposResponseDtoBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposResponseDto$Permisos$PermisosBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposResponseDto$Permisos.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/AdGruposResponseDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/dto/GruposFilter.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/AdGruposEntity$AdGruposEntityBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/AdGruposEntity.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/AdGruposRepository.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adGrupos/AdGruposServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/builder/AdPermisosBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/dto/AdPermisosRequestDto$AdPermisosRequestDtoBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/dto/AdPermisosRequestDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/dto/AdPermisosResponseDto$AdPermisosResponseDtoBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/dto/AdPermisosResponseDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/dto/PermisoFilterDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/AdPermisosEntity$AdPermisosEntityBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/AdPermisosEntity.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/AdPermisosRepository.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adPermisos/AdPermisosServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/builder/AdRolBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoRequest$AdRolDtoRequestBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoRequest$Grupo$GrupoBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoRequest$Grupo.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoRequest.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoResponse$AdRolDtoResponseBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoResponse$Grupos$GruposBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoResponse$Grupos.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/AdRolDtoResponse.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/dto/RolFilterDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/AdRolEntity$AdRolEntityBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/AdRolEntity.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/AdRolServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/adRol/AdUsuarioRolRepository.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioCreationResponseDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioListFilterDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioPermisosDtoResponse$AdUsuarioPermisosDtoResponseBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioPermisosDtoResponse$Roles$RolesBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioPermisosDtoResponse$Roles.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioPermisosDtoResponse.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioReportDto$Roles.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioReportDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioRequestDto$Roles.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/dto/AdUsuarioRequestDto.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/AdUsuarioEntity$AdUsuarioEntityBuilder.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/AdUsuarioEntity.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/AdUsuarioRepository.class
/api/build/classes/java/main/com/calero/lili/api/modAdminUsuarios/AdUsuarioServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/modAuditoria/AuditorAwareImpl.class
/api/build/classes/java/main/com/calero/lili/api/reports/modVentas/VentasFacturasReportServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/utils/IdDataServiceImpl.class
/api/build/classes/java/main/com/calero/lili/api/ApiApplication.class
/api/build/libs/api-0.0.1-SNAPSHOT.jar
/api/build/resources/main/importaciones/ejemplos-request/guia-remision.txt
/api/build/resources/main/importaciones/ejemplos-request/nota-credito.txt
/api/build/resources/main/importaciones/asientos 2020.xlsx
/api/build/resources/main/importaciones/ASIENTOS-PIG.xlsx
/api/build/resources/main/importaciones/Categoria_2.xlsx
/api/build/resources/main/importaciones/clientes.xlsx
/api/build/resources/main/importaciones/ESTADOCUENTA.xlsx
/api/build/resources/main/importaciones/libro-diario-ejemplo.xls
/api/build/resources/main/importaciones/Marcas.xlsx
/api/build/resources/main/importaciones/Medidas.xlsx
/api/build/resources/main/importaciones/mensuales.xlsx
/api/build/resources/main/importaciones/nuevos-asientos.xls
/api/build/resources/main/importaciones/Parametros.xlsx
/api/build/resources/main/importaciones/plan cuentas 2020.xlsx
/api/build/resources/main/importaciones/plancuentas-pig.xlsx
/api/build/resources/main/importaciones/Productos.xlsx
/api/build/resources/main/importaciones/Proveedores.xlsx
/api/build/resources/main/importaciones/Servicios.xlsx
/api/build/resources/main/importaciones/Trabajadores (1).xlsx
/api/build/resources/main/templates/hello.html
/api/build/resources/main/application.properties
/api/build/resources/main/import.sql
/api/build/resources/main/Permisos.xlsx
/api/build/resources/main/report-balance-comprobacion.jrxml
/api/build/resources/main/report-estado-financiero.jrxml
/api/build/resources/main/report-estado-financiero-comparativo.jrxml
/api/build/resources/main/report-estado-perdidas-ganancias.jrxml
/api/build/resources/main/report-estado-perdidas-ganancias-comparativo.jrxml
/api/build/resources/main/report-libro-diario.jrxml
/api/build/resources/main/report-mayor-general.jrxml
/api/build/resources/main/report-pagos-empleados.jrxml
/api/build/resources/main/reporte_talon_rdep.jrxml
/api/build/resources/main/SQL Codigos Retencion.sql
/api/build/resources/main/SQL PAISES.sql
/api/build/resources/main/SQL PERMISOS.sql
/api/build/resources/main/SQL PERMISOS-1.sql
/api/build/resources/main/SQL-IVA-PORCENTAJES.sql
/api/build/tmp/bootJar/MANIFEST.MF
/api/build/tmp/compileJava/compileTransaction/stash-dir/AdEmpresasController.class.uniqueId0
/api/build/tmp/compileJava/previous-compilation-data.bin
/api/build/resolvedMainClassName
